<style>
<!--
P.a {font-style: italic;
left-margin: 0.5cm;
right-margin: 0.5cm;
text-align: center;}


body {
  
  background-image: linear-gradient(white, gray);;
   }

a:link {
  color: red; 
  border-bottom: 1px dashed; 
  text-decoration : underline;

}

P.c {
text-align: center;
color: red;
font-size: 300%;}
P.d {
font-weight : 600;
text-align: center;
color: blue;
font-size: 150%;}
P.e {font-style: italic;
text-indent: 50px;
font-size: 120%;
}
P.e:first-letter {
    
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
   }
-->
</style>
